<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body class="bg-secondary">
  <div class="container">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-12 mx-0 p-3">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h3>Add a New Friend</h3>
            </div>
            <hr>
            <form>
              <div class="form-group row">
                <label for="inputNama" class="col-sm-2 col-form-label">Nama</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" (input)="nama=$event.target.value"
                    placeholder="Masukkan nama..">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" (input)="email=$event.target.value"
                    placeholder="Masukkan email..">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputKontak" class="col-sm-2 col-form-label">Nomor Kontak</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" (input)="contact=$event.target.value"
                    placeholder="Masukkan kontak..">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-info btn-block" (click)="addFriend()">Add Friend</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-12 mx-0 p-3">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h3>My Friends</h3>
            </div>
            <br>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Contact</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let friend of friends; let i = index">
                  <th scope="row">{{ i+1 }}</th>
                  <td>{{ friend.name }}</td>
                  <td>{{ friend.email }}</td>
                  <td>{{ friend.contact }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
