<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Welcome To My Friend App</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" href="/friends">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactme">Contact Me</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button *ngIf="authService.isLoggedIn()" class="btn btn-danger my-2 my-sm-0"><a
          (click)="authService.logout()">Logout</a></button>
    </form>
  </div>
</nav>
